*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header__upper {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px 80px;
  background-color: #f8f9fa;
  font-size: 20px;
}

.header__upper a {
  display: block;
  text-decoration: none;
  color: black;
}

.signIn {
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border: 1px solid #007bff;
  border-radius: 5px;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  background-image: url(./header-fon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.landing-page__title {
  max-width: 825px;
  text-align: center;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  font-size: 3rem;
  z-index: 100;
}

.landing-page form {
  display: flex;
  justify-content: center;
}

.email {
  display: block;
  width: 500px;
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.sign-btn {
  display: block;
  width: 150px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-left: 10px;
}
